.wrapper {
  width: 96%;
  height: 70%;
  border: 3px solid #1d3cff;
  border-radius: 20px;
  background-color: rgba(90, 161, 255, 0.51);
  font-family: "Calibri Light";
  font-size: 20px;
  margin: 20px 5px;
  padding: 20px 20px;
}
